In [1]:
import pandas as pd

In [25]:
df = pd.read_csv('data/day3-input.txt', delimiter = r'(x|#|,|@|:)', header = None)
df = df[[2,4,6,8,10]]
df.columns = ['id','row','col','rowsize','colsize']
df['id'] = pd.to_numeric(df['id'])
df['row'] = pd.to_numeric(df['row'])
df['col'] = pd.to_numeric(df['col'])
df['rowsize'] = pd.to_numeric(df['rowsize'])
df['colsize'] = pd.to_numeric(df['colsize'])

/home/mark/anaconda2/envs/py3/lib/python3.5/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [33]:
df.loc[1:2,:]

   id  row  col  rowsize  colsize
1   2  941  233       16       14
2   3  652  488       16       25

In [ ]:
all_squares = pd.DataFrame(columns=['id','row','col'])
for i,row in df.iterrows():
    for j in range(row['rowsize']):
        for k in range(row['colsize']):
            tmp_df = {'id': i, 'row': j+row['row'], 'col': k+row['col']}
            all_squares = all_squares.append(tmp_df, ignore_index=True)

In [39]:
all_squares

    id  row  col
0    1  941  233
1    1  941  234
2    1  941  235
3    1  941  236
4    1  941  237
5    1  941  238
6    1  941  239
7    1  941  240
8    1  941  241
9    1  941  242
10   1  941  243
11   1  941  244
12   1  941  245
13   1  941  246
14   1  942  233
15   1  942  234
16   1  942  235
17   1  942  236
18   1  942  237
19   1  942  238
20   1  942  239
21   1  942  240
22   1  942  241
23   1  942  242
24   1  942  243
25   1  942  244
26   1  942  245
27   1  942  246
28   1  943  233
29   1  943  234
..  ..  ...  ...
594  2  666  508
595  2  666  509
596  2  666  510
597  2  666  511
598  2  666  512
599  2  667  488
600  2  667  489
601  2  667  490
602  2  667  491
603  2  667  492
604  2  667  493
605  2  667  494
606  2  667  495
607  2  667  496
608  2  667  497
609  2  667  498
610  2  667  499
611  2  667  500
612  2  667  501
613  2  667  502
614  2  667  503
615  2  667  504
616  2  667  505
617  2  667  506
618  2  667  507
619  2  667  508
620  2  667  509
621  2  667  510
622  2  667  511
623  2  667  512

[624 rows x 3 columns]